@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-Heavy.woff2') format('woff2'),
        url('AvenirNextCondensed-Heavy.woff') format('woff'),
        url('AvenirNextCondensed-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-Medium.woff2') format('woff2'),
        url('AvenirNextCondensed-Medium.woff') format('woff'),
        url('AvenirNextCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Condensed Demi';
    src: url('AvenirNextCondensed-DemiBold.woff2') format('woff2'),
        url('AvenirNextCondensed-DemiBold.woff') format('woff'),
        url('AvenirNextCondensed-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-Regular.woff2') format('woff2'),
        url('AvenirNextCondensed-Regular.woff') format('woff'),
        url('AvenirNextCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic.woff2') format('woff2'),
        url('CenturyGothic.woff') format('woff'),
        url('CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.woff2') format('woff2'),
        url('Lato-Regular.woff') format('woff'),
        url('Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Bold.woff2') format('woff2'),
        url('Lato-Bold.woff') format('woff'),
        url('Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

