@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('../fonts/AvenirNextCondensed-Heavy.woff2') format('woff2'),
        url('../fonts/AvenirNextCondensed-Heavy.woff') format('woff'),
        url('../fonts/AvenirNextCondensed-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('../fonts/AvenirNextCondensed-Medium.woff2') format('woff2'),
        url('../fonts/AvenirNextCondensed-Medium.woff') format('woff'),
        url('../fonts/AvenirNextCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Condensed Demi';
    src: url('../fonts/AvenirNextCondensed-DemiBold.woff2') format('woff2'),
        url('../fonts/AvenirNextCondensed-DemiBold.woff') format('woff'),
        url('../fonts/AvenirNextCondensed-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('../fonts/AvenirNextCondensed-Regular.woff2') format('woff2'),
        url('../fonts/AvenirNextCondensed-Regular.woff') format('woff'),
        url('../fonts/AvenirNextCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic.woff2') format('woff2'),
        url('../fonts/CenturyGothic.woff') format('woff'),
        url('../fonts/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



body {
    font-family: 'Avenir Next Condensed';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}
section {
    float: left;
    position: relative;
    width: 100%;
}
#porque-invertir {
    padding-top: 120px;
    margin-top: -100px;
    margin-bottom: 50px;
}
img {width:100%}
a, a:hover, a:active, a:focus {color:unset;text-decoration:none}
ul {list-style: none;}
h1 {
    font-family: 'Avenir Next Condensed Demi';
    font-weight: bold;
    font-style: normal;
}
h2 {
    font-family: 'Avenir Next Condensed Demi';
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    text-align: center;
}
header {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
    background: white;
}
.legal-simulador {
    text-align: justify;
    font-size: 12px;
    width: 98%;
    margin-top: 20px;
}
#banner-top {
    margin-top: 104px;
}
.title {text-align: center}
.inv-txt {
    text-align: center;
}

.icon {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: #68696D;
    border-right: 1.5px solid rgba(0,0,0,0.3);
    line-height: 15px;
    min-height: 200px;
    margin-bottom: 10px;
}
.icon:last-child {border-right:none}
.icon-img {
    padding: 10px 0px 0px 0px;
}
.icons {margin-top: 65px;}
.menu-top {
    text-align: right;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1px;
    padding-top: 45px;
    list-style: none;
    padding-bottom: 25px;
}
video {
    width:100%;
}
#conoce {
    margin-top:20px
}
.lwt-left {text-align: right;padding-right: 0px}
.lwt-right {text-align: left;padding-left: 0px}
.lwt-right img {
    width: 55%;
}
.conoce-txt {text-align: center;margin-top:15px;margin-bottom: 25px}
ul.l01 {
    list-style: none;
    line-height: 30px;
    text-align: left;
    text-indent: -45px;
    padding-left: 45px;
}
.l01 li:before {
    font-size: 47px;
    content: '■';
    color: #D8AA46;
    padding-right: 15px;
    position: relative;
    top: 5px;
}
.no-padding {padding:0}
.caracteristica {
    position: relative;
    float: left;
}
.caract-img {
    position: relative;
    float: left;
}
.planta {
    text-indent: -49px;
    font-family: 'Lato';
    text-align: left;
    line-height: 21px;
    font-size: 18px;
}
.beneficios-txt {padding-top: 20px;padding-bottom:40px;}
.grey-bg {
    background-color: #E8E8E8;
    text-align: center;
    margin-bottom: 40px;
    padding: 55px;
}
.caract-txt {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0,0,0,0.3);
    padding: 33% 20px 0px 20px;
    text-align: center;
}
.btn-planta {cursor:pointer}
.modal-dialog {
    width: 100%;
    margin: 0px;
    background-color: #E8E8E8;
    padding: 2%;
    min-height: 100vh;
}
.modal {
    padding-right: 0px !important;
}
#beneficios {
    text-align: center;
    padding-top: 120px;
    margin-top: -100px;
}
#plantas {
    padding-top: 120px;
    margin-top: -100px;
}
#plantas li:before {
    font-size: 47px;
    content: '■';
    color: #D8AA46;
    padding-right: 15px;
    position: relative;
    top: 5px;
}
.planta-img {
    padding: 0% 6% 0% 3%;
}
.bottom-line {
    text-align: left;
}
.tipo-planta {
    font-family: 'Lato';
    font-weight: bold;
    font-size: 40px;
    line-height: 32px;
}
.programa {
    font-family: 'Lato';
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 7px solid #D8AA46;
    width: 97%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
}
.planta-info {
    padding: 0% 7% 0% 0%;
}
.planta-metros {
    font-family: 'Lato';
    font-weight: normal;
    width: 97%;
}
.m-title {
    float: left;
    width: 65%;
    position: relative;
}
.m-number {
    float: left;
    width: 35%;
    text-align: right;
    position: relative;
}
#pasos {text-align: center}
#pasos .pasos-txt h2 {padding:0;margin:0;}
.form-50 {
    width: 50%;
    float: left;
    position: relative;
    padding-right: 20px;
    text-transform: uppercase;
}
.campo {
    width: 100%;
    background-color: unset;
    border: 1px solid white;
    margin-bottom: 5px;
}
#contactanos {text-align: center;}
textarea.campo {
    height: 90px;
}
#contacto #formulario_cotizar {
    margin-top:7%;
}
.submit-wrap {
    width: 100%;
    text-align: center;
}
.inputsubmit {
    background-color: #D8AA46;
    border: none;
    padding: 5px 40px 5px 40px;
    color:black;
    margin-top: 20px;
}
ul.menu-top li {
    display: inline;
    margin-right: 25px;
}
.img-map {
    border: 1px solid white;
}
.contacto-bg {
    background-color: #87868A;
    color: white;
    padding: 40px 40px 40px 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#slider-top .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 40px;
}
#slider-top .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span, .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background:#D8AA46;
}
.footer {background-color: #87868A;color:white;text-align:center;font-size: 10px;float:left;position: relative;width:100%;padding:40px;}
.close {
    font-size: 80px;
    font-weight: 100;
    filter: alpha(opacity=100);
    opacity: 1;
    color:white;
}
#simulador-credito {
    font-family: 'Lato', sans-serif;
    padding-bottom: 0px;
    padding-top: 120px;
    margin-top: -100px;
}
#simulador-credito p {margin: 0 0 0px;}
#simulador-credito .bootstrap-select, #simulador-credito input {
    width:100%;
    margin-bottom:10px;
}
#simulador-credito2 {
    font-family: 'Lato', sans-serif;
    padding-bottom: 0px;
    padding-top: 120px;
    margin-top: -100px;
}
#simulador-credito2 p {margin: 0 0 0px;}
#simulador-credito2 .bootstrap-select, #simulador-credito2 input {
    width:100%;
    margin-bottom:10px;
}
.sc-inputs {
    background-color: #e8e8e8;
    border-radius: 10px;
    padding: 25px;
}
.sc-label {
    font-weight: 600;
    padding-bottom: 5px;
    font-size: 16px;
    text-align: left;
}
#simulador-credito input {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    padding: 3px 10px 3px 13px;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.42857143;
}
table.tablaSC {
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  padding-left:15px;
}
table.tablaSC td, table.tablaSC th {
  padding: 3px 2px;
}
table.tablaSC tbody td {
  font-size: 15px;
}
table.tablaSC tr:nth-child(even) {
  background: #D8AA4633;
}
.tablaSC tr td:first-child {
    width: 75%;
}
.tablaSC tr td {
    padding: 3px 10px 3px 10px;
}
.aviso {
    text-align: right;
    font-size: 12px;
}
iframe {
    border: none;
    min-height: 399px;
    padding-top: 20px;
}
.hightlight {

    background-color: #D8AA46;
    color: white;
    padding: 10px;

}
.sc-destacado {background-color: #D8AA46!important;color: white;font-weight: bold;}
#simulador-credito-home {
    padding-top: 120px;
    margin-top: -100px;
  }
  #simulador-credito {
    font-family: 'Lato', sans-serif;
    padding-bottom: 0px;
    padding-top: 20px;
    margin-top: 0px;
    background-color: #E8E8E8;
  }
  #simulador-credito2 {
    font-family: 'Lato', sans-serif;
    padding-bottom: 0px;
    padding-top: 20px;
    margin-top: 0px;
    background-color: white;
  }
  .sc-inputs {
    background-color: #D8AA46;
    border-radius: 10px;
    padding: 25px;
  }
.bootstrap-select.btn-group .dropdown-menu li::before {
    content: '';
    display: none;
}
button.close {
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: 99999;
}
.verMas {

    text-align: center;
    width: 100%;
    margin-left: 37px;
    margin-top: -25px;
    margin-bottom: 15px;

}
.simulador-modal {
    margin-top: 4%;
}
.logo-fynsa {
    padding-top:20px;
}
.modal-content {
    background-color: #d2d2d2;
}
#modalCotizar .modal-dialog {
    background-color: transparent;
    width: 48%;
    margin-top: 20%;
}
#modalCotizarForce .modal-dialog {
    background-color: transparent;
    width: 48%;
    margin-top: 18%;
    margin-left: 50%;
}
#modalCotizarForce2 .modal-dialog {
    background-color: transparent;
    width: 50%;
    margin-top: 12%;
    margin-left: 25%;
}
.titulo-cotiza {
    padding:20px;
    font-weight: bold;
}

.padding-10 {
    padding:10px;
}
.flip {
    -webkit-perspective: 800;   
            perspective: 800;
          position: relative;
          text-align: center;
  }
  .flip .card.flipped {
    -webkit-transform: rotatey(-180deg);
            transform: rotatey(-180deg);
  }
  .flip .card {
      width: 100%;
      height: 280px;
      -webkit-transform-style: preserve-3d;
      -webkit-transition: 0.5s;
      transform-style: preserve-3d;
      transition: 0.5s;
     cursor: pointer;
  }
  .flip .card .face {
    -webkit-backface-visibility: hidden ;
      backface-visibility: hidden ;
     z-index: 2;
  }
  .flip .card .front {
     position: absolute;
     width: 100%;
     z-index: 1;
  }
  .flip .card .front img{
    width: 100%;
    height: 100%;
  }
  .flip .card .img {
     position: relative;
     width: 100%;
     z-index: 1;
     border: 2px solid #000;
  }
  .flip .card .back {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 15%;
    -webkit-transform: rotatey(-180deg);
            transform: rotatey(-180deg);
    position: absolute;
    background-color: #D8AA46;
    color: white;
  }
  .inner{
    margin:0px !important;
    width: 100%;
  }
  .btn-maps {
    background-color: #D8AA46;
    border: none;
    padding: 5px 40px 5px 40px;
    color:black;
    width: 100%;
}
.text-line {
    background-color: #87868A;
    color:white;
    text-align: center;
    padding: 10px;
    margin-top: -10px;
}
.owl-nav {
    position: absolute;
    width: 100%;
    top: 44%;
    font-size: 40px;
    color: white;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background: transparent;
    color:#FFF;
    text-decoration: none;
}
.owl-prev {
    position: absolute;
    left: 0;
}
.owl-next {
    position: absolute;
    right: 0;
}
#renders .owl-item img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 650px;
    object-position: bottom;
}
.stickyContact--txt {
    width: 100px;
    float: left;
    font-size: 25px;
    letter-spacing: 0.5px;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 19px;
}
.stickyContact--envelop {
    float: left;
    width: 35px;
    transform: rotateZ(90deg);
    -webkit-transform: rotate(90deg);
    margin-top: 12px;
    font-size: 24px;
}
.stickyContact--yellow {
    width: 15px;
    background-color: #D8AA46;
    height: 46px;
    float: left;
}
.stickyContact {
    position: fixed;
    width: 179px;
    bottom: 170px;
    right: -68px;
    z-index: 99999;
    background-color: #87868A;
    color: white;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
#contacto {
    padding-top: 240px;
    margin-top: -240px;
}
/*=====================================================
=            Bootstrap 2.3.2 Media Queries            =
=====================================================*/
@media only screen and (max-width : 1200px) {
    .flip .card {
        width: 100%;
        height: 229px;   
    }
    .flip .card .back {
        font-size: 13px;
        padding: 8%;
    }
}   

@media only screen and (max-width : 979px) {
    .flip .card {
        width: 100%;
        height: 173px;  
    }
    .flip .card .back {
        font-size: 13px;
        padding: 8%;
    }
}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 480px) {
    #renders .owl-item img {
        display: block;
        width: 100%;
        object-fit: cover;
        height: 210px;
    }
    .owl-nav {
        top: 30%;
    }
    .flip .card {
        width: 100%;
        height: 270px;
    }
    .flip .card .back {
        font-size: 15px;
        padding: 15%;
    }
    .titulo-cotiza {
        padding-top:40px;
    }
    #modalCotizarForce .modal-dialog {
        margin-left: 0%;
    }
    #modalCotizar .modal-dialog {
        width: 98%;
    }
    #modalCotizar button.close {
        right: 0px;
        top: -15px;
    }
    #modalCotizarForce .modal-dialog {
        width: 98%;
    }
    #modalCotizarForce button.close {
        right: 0px;
        top: -15px;
    }
    .logo-fynsa {
        padding-top:0px;
    }
    .menu-top {
        font-size: 11px;
        padding-top: 8px;
        text-align: right;
        padding-left: 0px;
    }
    .hightlight {
        padding: 5px;
    }
    #banner-top {
        margin-top: 160px;
    }
    .lwt-right img {
        width: 100%;
        padding-top: 17px;
    }
    .icon {
        border-right: 0px;
    }
    .l01 {
        font-size: 15px;
        text-align: left;
        padding-left: 42px;
        text-indent: -44px;
    }
    .planta {
    padding-left: 15px;
    }
    .form-50 {
    width: 100%;
    }
    textarea.campo, .campo {width:100%;}
    .contacto-bg {margin-bottom: 0px}
    ul.menu-top li {
        margin-right: 5px;
    }
}

@media only screen and (max-width : 320px) {

}

